@page "/DTOshka"
@rendermode InteractiveWebAssembly
@using FRONT.DTO

<div>
    <input @bind="inputTitle" placeholder="Title" />
    <input @bind="inputSubtitle" placeholder="Subtitle"/>
    <button @onclick="Click">Обновить</button>
</div>
<h3>Title: @Title</h3>
<h3>Subtitle: @SubTitle</h3>

@code {
    DTOschka dTO = new DTOschka();

    private string Title => dTO.Title;
    private string SubTitle => dTO.Subtitle;

    private string inputTitle = "";
    private string inputSubtitle = "";

    private void Click()
    {
        dTO.Title = inputTitle;
        dTO.Subtitle = inputSubtitle;
    }
}