@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

@*         <div class="d-flex flex-row mb-3">
            <div class="p-3 bg-gradient">Flex item 1</div>
            <div class="p-4 bg-opacity-100">Flex item 2</div>
            <div class="p-5 bg-info">Flex item 3</div>
        </div>
        <div class="d-flex flex-row-reverse mb-5">
            <div class="p-2 bg-danger">Flex item 1</div>
            <div class="p-1 bg-light">Flex item 2</div>
            <div class="p-0">Flex item 3</div>
        </div>

        <div class="d-flex flex-row-reverse display-1">
            <NavMenu />
            <NavMenu />
        </div>

        <div class="p-md-3 fixed-bottom px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a href="/" target="_blank">Some</a>
        </div> *@
    </main>

@*     <div class="alert-danger">
        <NavMenu />
    </div> *@
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
