# игнорирование всех файлов расширений:
*.log 
*.tmp
*.cache
*.csproj
*.gitignore

# игнорирование всех каталогов:
.obsidian/
.vs/
.vscode/

# игнорирование корневых файлов и каталогов:
/MainProject/
/TestSection/Frontend
/TestSection/Backend/
/TestSection/Database/
/База/
/LICENSE
/README.md