@page "/"
@* @attribute [StreamRendering] *@
@using DTOmvp
@* @inject IHttpClientFactory HttpClientFactory *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to the <span class="font-monospace">HELL</span>.

<NavLink href="test">
    <div class="nav-link">Тестирование</div>
</NavLink>


@code {

}
