
@page "/Profile"

@attribute [Authorize] 
@* ChistoDebug *@

@if(userProfile == null)
{
	<p><em>@message</em></p>
}
else
{
	<h3 class="mb-3">Профиль</h3>

	<div class="row mb-3">
		<label class="col-mb-3 col-from-label">Имя</label>
		<div class="col-mb-8">
			<input class="form-control-plaintext" readonly @bind="userProfile.Name"></input>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-mb-3 col-from-label">Почта</label>
		<div class="col-mb-8">
			<input class="form-control-plaintext" readonly @bind="userProfile.Email"></input>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-mb-3 col-from-label">Телефон</label>
		<div class="col-mb-8">
			<input class="form-control-plaintext" readonly @bind="userProfile.PhoneNumber"></input>
		</div>
	</div>
	<button class="button-logout" @onclick="Logout">Выйти</button>
}


@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider provider
@code {

	public UserProfile? userProfile = null;
	private string message = "";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			message = "Loading...";

			userProfile = await Http.GetFromJsonAsync<UserProfile>("api/Acc/Profile");
		}
		catch
		{
			message = "Не читается профиль";
		}
	}
	private void Logout()
	{
		var authStateProvider = (AuthStateProvider)provider;
		authStateProvider.Logout();
		Navigation.NavigateTo("/");
	}
}
