@inject NavigationManager NavigationManager
@inherits LayoutComponentBase


<input style="width: 100%" placeholder="ФИО" @bind="fullName"/> <br> <br>
<input placeholder="Год рождения" @bind="dateOfBirth"/> <br> <br>
<input placeholder="Группа" @bind="group"/> <br> <br>
<p style="text-align: center;"><button class="button-cancel">Отменить</button><button class="button-accept" @onclick="CreateTemplate">Принять</button></p>

@code {
	string ?fullName, group, dateOfBirth;
	private void CreateTemplate()
	{
		
	}

	
}