@inject NavigationManager NavigationManager
@implements IDisposable
@inherits LayoutComponentBase

@if (IsPanelVisible)
{
    <div class="upper-panel">
        <PanelElements />
    </div>
}

<main>
    @Body
</main>

@code {
    private string currentUrl = "";
    private bool IsPanelVisible =>
        currentUrl != "/" &&
        currentUrl != "/login" &&
        currentUrl != "/registration";

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).PathAndQuery;
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToAbsoluteUri(e.Location).PathAndQuery;
        StateHasChanged(); // Обновляет разметку
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
