@inherits UpperPanelUpperToolbarBase


<div class="upper-panel">
    <button class="button-menu" @onclick="SwitchShow">
        @if (ShowDiv)
        {
            <div class="popup-menu">Текст</div>
        }
    </button>
    <img class="separator-icon" src="Separator.png" alt="Separator">
    <button class="button-save"></button>
    <button class="button-undo"></button>
    <button class="button-redo"></button>
</div>
