@* <style>
    .button-menu {
        background-image: url('Menu.png');
        background-color: transparent;
        position: absolute;
        left: 2rem;
        height: 45px;
        width: 45px;
        border: none;
    }

    .separator-icon {
        position: absolute;
        left: 7rem;
        height: auto;
    }

    .button-save {
        background-image: url('Save.png');
        background-color: transparent;
        position: absolute;
        left: 9.5rem;
        height: auto;
        height: 50px;
        width: 50px;
        border: none;
    }

    .button-undo {
        background-image: url('Undo.png');
        background-color: transparent;
        position: absolute;
        left: 14rem;
        height: auto;
        height: 50px;
        width: 50px;
        border: none;
    }

    .button-redo {
        background-image: url('Redo.png');
        background-color: transparent;
        position: absolute;
        left: 18rem;
        height: auto;
        height: 50px;
        width: 50px;
        border: none;
    }</style> *@
<button class="button-menu" @onclick="click"></button>
<img class="separator-icon" src="Separator.png" alt="Separator">
<button class="button-save"></button>
<button class="button-undo"></button>
<button class="button-redo"></button>

@if (ShowDiv)
{
    <div class="PopUp-menu"></div>
}


@code {
    public void click()
    {
        ShowDiv = !ShowDiv;
    }
    public bool ShowDiv { get; set; } = false;
} 