@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

@if (currentUrl == "/" || currentUrl == "/?id=login" || currentUrl == "/?id=register")
{

}
else {

    <div class="upper-panel">
        <PanelElements />
    </div>
}

<main>
    @Body
</main>

@code {
    private string currentUrl { get; set; } = "";

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).PathAndQuery; 
    }
}