@page "/"

<PageTitle>Index</PageTitle>
<dir class="toolbar"></dir>

<d><dir class="logBack">
    <dir class="log">
            <link_center> 
                <p class="link_chosen">Вход</p>
                <NavLink class="link" href="/sasa">Регистрация</NavLink>
                </link_center>
    </dir>
    </dir></d> 

