@* Объявление модели для представления *@
@model dynamic

@* Блок C# кода для установки заголовка страницы *@
@{
    ViewData["Title"] = "Home Page";
}

@* Заголовок страницы *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* Описание приложения *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
