@* Объявление модели для представления *@
@model dynamic

@* Блок C# кода для установки заголовка страницы *@
@{
    ViewData["Title"] = "Privacy Policy";
}

@* Заголовок страницы *@
<h1>@ViewData["Title"]</h1>

@* Текст политики конфиденциальности *@
<p>Use this page to detail your site's privacy policy.</p>
