<p><br><label class="label-center">Настройки профиля</label></p>
<p><label>Никнейм</label></p>
<p><input class="input-format" /><br></p>
<p><label>Пароль</label></p>
<p><input class="input-format" /><br></p>
<br>
<Buttons></Buttons>
@code {

}