@* Объявление модели Movies, с которой работает представление *@
@model AspNetCoreMVC.Models.Movies

@* Блок C# кода для установки заголовка страницы *@
@{
    ViewData["Title"] = "Edit";
}

@* Заголовки страницы *@
<h1>Edit</h1>

<h4>Movies</h4>
<hr />

@* Контейнер для формы *@
<div class="row">
    <div class="col-md-4">
        @* Форма для редактирования фильма. Отправляет POST-запрос на действие Edit контроллера *@
        <form asp-action="Edit">
            @* Скрытое поле для передачи ID фильма *@
            <input type="hidden" asp-for="ID" />
            
            @* Блок для отображения ошибок валидации модели *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* Группа полей для названия фильма *@
            <div class="form-group">
                @* Метка для поля ввода *@
                <label asp-for="Title" class="control-label"></label>
                @* Поле ввода, привязанное к свойству Title модели *@
                <input asp-for="Title" class="form-control" />
                @* Блок для отображения ошибок валидации конкретного поля *@
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @* Группа полей для даты выпуска *@
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            @* Группа полей для жанра *@
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            @* Группа полей для цены *@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @* Кнопка отправки формы *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Ссылка для возврата к списку фильмов *@
<div>
    <a asp-action="Index">Back to List</a>
</div>

@* Секция для скриптов. Включает частичное представление с JavaScript для валидации на стороне клиента *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
