@using System.Threading.Tasks
@using Microsoft.JSInterop
@using MainProject.Components
@page "/"
@rendermode InteractiveServer

<header class="upper-panel">
	<button class="button-menu" @onclick="click"></button>
	<img class="separator-icon" src="Separator.png" alt="Separator">
	<button class="button-save"></button>
	<button class="button-undo"></button>
	<button class="button-redo"></button>

	@if (ShowDiv)
	{
		<div class="c"></div>
	}
</header>
@code {
	public bool ShowDiv { get; set; } = false;
	public void click()
	{
		if (ShowDiv == false)
		{
			ShowDiv = true;
		}
		else
		{
			ShowDiv = false;
		}
	}
}