@page "/templates"
<PageTitle>Шаблоны</PageTitle>

@inject NavigationManager NavigationManager
<button class="btn btn-primary" @onclick="ToCreate">Создать</button>

@if (Searching is null)
{
    <p><em>@Status</em></p>
}
else
{
    @using Microsoft.AspNetCore.Components.QuickGrid
    <QuickGrid Class="table" Items="Searching" Pagination="pagination">
        <PropertyColumn Property="m => m.Id" Title="Id" Sortable="true" />
        <PropertyColumn Property="m => m.Name" Title="Название" Sortable="true" />
        <PropertyColumn Property="m => m.Type" Title="Тип работы" Sortable="true" />

        <TemplateColumn Context="p">
            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="@($"templates/edit?id={p.Id}")">Детали</a>
            </div>
        </TemplateColumn>

        <Paginator State="pagination" />
    </QuickGrid>
}


@using MVPv5.Application.Contracts.Template.v1
@inject HttpClient httpClient
@code {
    private string? Status { get; set; } = "Загрузка...";
    private IQueryable<TemplateReadResponse>? Searching { get; set; }

    static int size = 10;
    PaginationState pagination = new PaginationState { ItemsPerPage = size };

    protected override void OnParametersSet()
    {
        var count = 1;
        if (Searching is not null && Searching.Any()) count = Searching.Count();
        pagination = new PaginationState { ItemsPerPage = count < 10 ? count : size };
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.SendAsync(
            new HttpRequestMessage(HttpMethod.Get, "Template/read-all")
            .SetBrowserRequestCredentials(BrowserRequestCredentials.Include));

        if (response.IsSuccessStatusCode)
        {
            Searching = (await response.Content.ReadFromJsonAsync<IEnumerable<TemplateReadResponse>>())!.AsQueryable();
        }
        else
        {
            Status = "Не получилось загрузить файлы\n"/*  + await response.Content.ReadAsStringAsync() */;
            return;
        }
    }

    private void ToCreate() => NavigationManager.NavigateTo("/templates/create");
}
