@rendermode InteractiveServer

    <button class="button-menu" @onclick="click"></button>
    <img class="separator-icon" src="Separator.png" alt="Separator">
    <button class="button-save"></button>
    <button class="button-undo"></button>
    <button class="button-redo"></button>

    @if (ShowDiv)
    {
       <div class="PopUp-menu"></div>
    }


@code {
    public void click()
    {
        ShowDiv = !ShowDiv;
    }
    public bool ShowDiv { get; set; } = false;
    }