@using DropList
@inherits LayoutComponentBase

@* <header class="upper-panel">
	<button class="button-menu" onclick="@dropList.click()">
	</button>
	<img class="separator-icon" src="Separator.png" alt="Separator">
	<button class="button-save"></button>
	<button class="button-undo"></button>
	<button class="button-redo"></button>

	@if (dropList.ShowDiv)
	{
		<div class="c"></div>
	}

</header> *@
@Body
@code {
	
}
