@inherits LayoutComponentBase

<header class="upper-panel">
	<button class="button-menu"></button>
	<img class="separator-icon" src="Separator.png" alt="Separator">
	<button class="button-save"></button>
	<button class="button-undo"></button>
	<button class="button-redo"></button>

	
</header>
@Body
@code {

}
