@using MVPv4.Client.Pages.Components
@inject SelectaberComponent Selectaberinator

<h3>Selectaber</h3>

@* <div class="col">
    <select class="form-select-sm">
        @foreach (var item in Enum.GetNames<Status>())
        {
            <option value="@item">@item</option>
         }

        <option value="">nothing</option>
    </select>
</div> *@